.Rproj.user
.Rhistory
*.RData
.Ruserdata
packrat/lib*/
packrat/src*/
*_cache*
*.html
data/
packrat/src/
*_files/

*.DS_Store
dat
*#*
*/._*

data

code/Python/proj.py
code/Python/__pycache__

output

config.ini

*.swp
./code/R/PA_analysis/Biostat_process/*.csv
